extends layout

block content
  h1= title
  p Arequipa
  img.image(
      src="./images/arequipa.jpeg"
      )
  p Lima
  img.image(
      src="./images/Lima.jpg"
      )
  p Tacna
  img.image(
      src="./images/Tacna.jpeg"
      )
  p Tumbres
  img.image(
      src="./images/Tumbres.jpg"
      )

