extends layout

block content
  h1= title
  p Una agencia de viajes es una empresa asociada al turismo, cuyo oficio es la intermediación, organización y realización de proyectos, planes e itinerarios, elaboración y venta de productos turísticos entre sus clientes y determinados proveedores de viajes, como por ejemplo: transportistas (aerolíneas, cruceros), servicio de alojamiento (hoteles), con el objetivo de poner los bienes y servicios turísticos a disposición de quienes deseen y puedan utilizarlos.
  img.image(
      src="./images/principal.jpg"
      )
