extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 #{title} de Viaje
        form(method='POST')
          div.form-group
            label(for='name') Name:
            br
            input#name.form-control(type='text')
            br
            br
          div.form-group
            label(for='email') Apellido:
            br
            input#email.form-control(type='text')
            br
            br
          div.form-group
            label(for='favoriteBook') Edad:
            br
            input#favoriteBook.form-control(type='text')
            br
            br
          div.form-group
            label(for='pw') Destino:
            br
            input#pw.form-control(type='text' )
            br
            br
          div.form-group
            label(for='pw2') Precio:
            br
            input#pw2.form-control(type='number' )
            br
            br
          button.btn.btn-primary(type='submit') Reservar